/*body {
  color:white;
  font-size: 12px;
  background-color: black;  
  font-family: Monaco, monospace;
}
*/


#myCanvas {
  touch-action:none;
}
#main {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width:600px){
  #main {
    grid-template-columns: auto;
  }
}
.params {
  font-size: 12px;
  text-align: left;
}
.params input{
  width: 80px;
  border: 1px solid gray;
}

#buttons {
  text-align: left;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 10px
  margin: 10px
}

th {
  text-align: left;
  padding-top: 2ex;
  font-size: 16px;
  text-decoration: underline
}

button {
 background-color: black;
 color:white;
  border: 1px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
}

input {
 background-color: black;
 color:white;
}

button.active {
  background-color: gray;
}

button:hover {  
  border: 1px solid white;
  background-color: #555;
}

