body {
  background-color: var(--bg-color);
  color: var(--font-color);

  /*font-family: Verdana, sans-serif;*/

}
body, textarea, input{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3 {
  color:  var(--head-color);
  margin-bottom: 1ex;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 20pt;
  padding: 1ex;
  margin: 0;
}

p {
  font-size: 14pt;
  padding: 1ex;
}

input[type=text] {
  font-size: 8pt;
}
b {
  font-weight: bold;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color);
  z-index: 9999;
}


.container {
  padding-left: 1em;
}

.header {
  text-align: right;
}

.screen {
  position: absolute;
  height: 100%;
  width: 100%;
}

.scroll {
  overflow: scroll;
}

.page {
  margin: 0 1em;
}
.text {
  vertical-align: middle;
  text-align: center;
}

.message { 
  position: absolute; 
  left:0; 
  right:0; 
  text-align:center; 
  font-size:16pt;
}

.popup {
  opacity: .8;
  background-color: #eee; 
  display: inline-block; 
  padding: 2em;
  vertical-align: middle;
  text-align: center;
  y: 50%;
}

.timer {
  display: inline-block;
}
.timer>svg {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding-bottom:1px;
  color: black;
}

text {
  font-family: sans-serif;
}


svg > text {
  font-size: 14pt
}
.popup > svg{
  vertical-align: middle;
  padding: 0 1ex 0 1ex;
}

.paragraph {
  border: 1px #444 solid;
  max-width: 48em;
  text-align: center;
  margin: auto;
  background-color: #EEE;
}

.paragraph p{
  line-height: 1.2;
}

.paragraph .title, .paragraph h1{
  margin-bottom: 0;
}
.paragraph .title {
  padding: 8px;
}
.paragraph .content {
  text-align: left; 
  display: inline-block;
  padding: 1ex 2em 2em 2em;
  margin-top: 0;
  flex: 1;
}
@media(min-width: 48em) {
.paragraph {
  margin: 3em auto 3em auto;
}
}
@media(max-width: 48em) {
.paragraph {
  margin: 1em auto 1em auto;
}
.paragraph .content{
  padding: 1ex;
}
}

.paragraph .title {
  background-color: #80B6EA;
}

.paragraph b{
  font-weight: bold;
}

.paragraph i{
  font-style: italic;
}
.paragraph button{
  padding: 1ex 1em 1ex 0.8em;
  font-size: 14pt;
  font-weight: bold;
  background-color: #80B6EA;
  border: 1px black solid;
  float: right;
  align-items: center;
  justify-content: center;
}
.paragraph button:hover{
  background-color: #90C6FA;
  border: 1px #333 solid;
}

.paragraph hr{
  padding: 0;
  margin: 0;
  border: none;
  height: 1px;
  background-color: black;
}

.paragraph textarea {
  font-size: 12pt;
  width: 70%;
  height: 5em;
  margin-top: 1ex;
  padding: 1ex;
}

.paragraph input[type=email]{
  font-size:12pt;
  width: 70%;
  height: 2ex;
  margin-top: 1ex;
  padding: 1ex;
}
.paragraph  input[type=range] {
  width:100%;
}
.paragraph .labeltls {
  font-weight: bold;
  float: left;
  width: 10em;
}
.paragraph .labeltls-left {
  font-size: 12pt;
  float: left;
}
.paragraph .labeltls-right {
  font-size: 12pt;
  float: right;
}
.paragraph .ptls {
  text-indent: -10em;
  padding-left: 10em;
  margin-top: 2ex;
}

a {
  color: var(--pri-color);
}

a:hover {
  text-shadow: 0px 0px 1px black;
  cursor: cell;
}

ul {
  margin-left:10px
}

.footer {
  background-color: var(--foot-color);
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 1ex;
  font-size: 8pt;
  vertical-align: middle;
}


.footer-1 {
  float: left;
}
.footer-2 {
  overflow: hidden;
}
.footer-3 {
  float: right;
  padding-right: 2em;
}


/* SLIDER */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
  font-size: 6pt;
  color: black;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.5;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.hidden {
  visibility: hidden;
}



