 <!DOCTYPE html>
<html>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="../css/style.css"></style>
    <script src="../js/dynam.space.js"></script> 
  </head>

  <body>
  <div id="main">
  <div id="buttons">
    <button v-show="!info.hasStarted" @click="start">Start</button>
    <button v-show="info.isRunning" @click="stop">Stop</button>
    <button v-show="info.hasStarted && !info.isRunning" @click="reset">Reset</button>
    <a v-if="info.hasStarted && !info.isRunning" :href="csv" :download="filename">
      <button>Save</button>
    </a>
  </div>
  <div id='experiments'>
	  <button v-for="(param, idx) in params" :class="{ active: isActive(param) }" @click="load(param)">
       {{idx}}
    </button>
  </div>
  <div>
   fps: {{ info.fps.toFixed(1) }}
  </div>
  <div>
    <canvas id="myCanvas" ref="myCanvas" width="256" height="256"></canvas>
  </div>
  <div class="params">
    <table>
      <th>States</th>
      <tr v-for="(item, key, idx) in S">
        <td>{{ key }}:</td>
        <td>{{ item | toFixed }}</td>
      </tr>

      <th>Inputs</th>
      <tr v-for="(item, key, idx) in I">
        <td>{{ key }}:</td>
        <td>{{ item | toFixed }}</td>
      </tr>

      <th>Outputs</th>
      <tr v-for="(item, key, idx) in O">
        <td>{{ key }}:</td>
        <td>{{ item | toFixed }}</td>
      </tr>
    </table>
    </div>
    <div class="params">
    <table>
      <th>Parameters</t>
      <tr v-for="(item, key, idx) in P">
        <td>{{ key }}:</td>
        <td v-if="typeof item == 'number'">
          <input v-model.number="P[key]">
        </td>
        <td v-else-if="typeof item == 'string'">
          <input v-model="P[key]">
        </td>
        <td v-else-if="typeof item == 'boolean'">
          <input type='checkbox' v-model="P[key]">
        </td>
      </tr>
    </table>
  </div>
  <div>

  </div>
</div>
<script>
const s = (v) => Math.sin(v)
const c = (v) => Math.cos(v)

const experiments = {
  '1_single': {
    mode: 'single'
   },
  '2_gain': {
    mode: 'gain'
   },
  '3_feedback': {
    mode: 'feedback'
   },
  '4_lqr': {
    mode: 'lqr'
   },
  '5_vel': {
    mode: 'velocity',
    inputmode: 'lock'
   }
}


const data = {
  P: { //parameters
    mode: 'single',
    inputmode: 'lock',//or absolute
    duration: 100, //seconds
    period: 20, //ms
    smooth: 0.9,
    alpha: 0.01,
    beta: 0.005,
    gamma: 0.005,
    freq1: 1,
    freq2: .1,
    freq3: .01,
    amplitude1: 10,
    amplitude2: 50,
    amplitude3: 100,
  },
  I: { //inputs
    r: 0,
    posX: 0,
    posY: 0,
    velX: 0,
    velY: 0,
    movX: 0,
    movY: 0
  },
  O: { //outputs
    time: 0,
  },
  S: { //state
    time: 0,
    x: 0,
  },
}

function reset(S, I, O, P) {
  S.x = 0
 }

function update(S, I, O, P) {
  I.r = Math.sin(2*S.time/1000*P.freq1)*P.amplitude1
  I.r += Math.sin(2*S.time/1000*P.freq2)*P.amplitude2
  I.r += Math.sin(2*S.time/1000*P.freq3)*P.amplitude3

  I.velX = I.movX/P.period*1000
  I.movX = 0

  switch (P.mode) {
    case 'single': 
     S.x = S.x + P.alpha*I.posX
     break;
     case 'gain':
   S.x = S.x + P.alpha*P.beta*I.posY*I.posX
     break;
    case 'feedback':
     S.x = S.x + P.alpha*I.posX + P.beta*I.posY*(I.r - S.x)
     break;
    case 'lqr':
   S.x = S.x + P.gamma*I.posX*(I.r - S.x) + P.beta*I.posY*(I.r - S.x)
     break;
    case 'velocity':
   S.x = S.x + P.alpha*I.velX
     break;
   }
}

function draw(canvas, S, I, O, P) {
  let ctx = canvas.getContext('2d')
  let w = canvas.width
  let h = canvas.height

  ctx.strokeStyle = 'white'
  ctx.fillStyle = 'white'

  ctx.strokeRect(-w/2, -h/2, w, h)

  ctx.beginPath();
  ctx.arc(I.r, 0, 10, 0, 2*Math.PI)
  ctx.stroke()

  ctx.beginPath();
  ctx.arc(S.x, 0, 8, 0, 2*Math.PI)
  ctx.fill()

  ctx.lineWidth = 10;
  ctx.beginPath();
  if(P.mode == 'lqr') {
    ctx.moveTo(-w/2, -h/2)
    ctx.lineTo(-w/2+I.posX, -h/2)
   } else {
    ctx.moveTo(0, -h/2)
    ctx.lineTo(I.posX, -h/2)
   }
    ctx.stroke()

  if(P.mode != 'single') {
    ctx.beginPath();
    ctx.moveTo(w/2, -h/2) 
    ctx.lineTo(w/2, -h/2+I.posY)
    ctx.stroke()
   }

  ctx.lineWidth = 1;
  ctx.beginPath();
  if(P.mode == 'lqr') {
    ctx.moveTo(-w/2+I.posX+4, I.posY-h/2)
    ctx.lineTo(-w/2+I.posX, I.posY-h/2)
    ctx.lineTo(-w/2+I.posX, I.posY-h/2+4)
   } else {
    ctx.moveTo(I.posX+4, I.posY-h/2)
    ctx.lineTo(I.posX, I.posY-h/2)
    ctx.lineTo(I.posX, I.posY-h/2+4)
   }
  ctx.stroke()
}

function inputs(canvas, S, I, O, P, x, y) {

  if (P.inputmode == 'absolute') {
    I.posX = x - canvas.width/2
    I.posY = canvas.height -y
  }
  if (P.inputmode == 'lock') {
    I.movX = I.movX + x 
    I.movY = I.movY + y
  }

  if (P.mode == 'lqr') I.posX = x

}

DynamSpace(update, draw, inputs, reset, data, experiments)

	</script>
</body>
</html>
